include ./includes/head.jade

body

	.loading
		.wait
			.loader
				//svg(height="400" width="400")
					//circle(cx="200" cy="200" r="200" stroke="white" fill='none')
					
			h1 One moment
			p It's loading...
	.blur
		section#cover
			.parallax-1
				.glider#top
						img(src="files/name.svg")
			.bg
			.clouds
				.parallax-4
					img.cloud0(src="files/cloud.png")
				.parallax-3
					img.cloud(src="files/cloud.png")
				.parallax-2
					img.cloud1(src="files/cloud1.png")
				.parallax-1
					img.cloud3(src="files/cloud3.png")
				.parallax-1
					img.cloud4(src="files/cloud4.png")
				.parallax-1
					img.cloud5(src="files/cloud5.png")
		
			.container
				.parallax-3
					.iphone-cover
						include ./includes/simulator-top.jade
					
				.parallax-2
					.info
						include ./includes/messages.jade
						form(method='post', name='tasktitleform', action='')
							label Leave your email to stay informed
							input#email.email(name='email', placeholder='Enter email to get invited' type='email', onfocus="", onblur="" autofocus)  
							input.save(type='button')
