.message.intro.active
  span.meet Each swipe <br>
  span.meet(style="margin-left: 6px") get you closer <br>
  span.meet(style="margin-left: 11px") to a perfect job
  hr
  h1(style="opacity: 0.5; margin-left: 17px") on iOS & Android <br> 
  h1(style="opacity: 0.5; margin-left: 21px") starting Spring 2016
  
