.device


  
#right
  .like-icon
#left
  .dislike-icon

#simulator
  .calculating Calculating...
  img.toolbar(src="files/toolbar.png")
  img.head(src="files/header.png")
  .card.layer1.job2.out
  .card.layer2.job.out
  .card.layer3.job3.out
  .card.layer4.job4.out        
  .card.layer5.job5.out
  .card.layer6.job6.out
  .card.layer7.job7.out
